.row#header(ng-controller="MainController as mainController")
	.col-sm-3
		a(ng-href="/#/")
			h1
				+fa('search', 'Lumus')
	
		// small
			//| Version #{myVersion}
			//if newVersion
				//em
					//| &nbsp;| new version available #{newVersion}&nbsp;
					//a(href='/update') Update

	.col-sm-8
		form.form-inline(role="form", ng-submit="mainController.search()")
			.form-group.right-space
				input.form-control(type='text', name='q', id='q', size=40, ng-model='mainController.searchTerm', placeholder='Enter Movie, Show, Artist or Group Name')
			.form-group
				button#search.btn.btn-warning(type='submit')
					+fa('search', 'Search')
	.col-sm-1
		.form-group.dropdown#menu.pull-right
			a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', type='button', title='Menu')
				+fa('bars')
			ul.dropdown-menu(role='menu', aria-labelledby='menu')
				li(role='presentation')
					+faLink('wrench', '/config', 'Settings')
					