mixin item()
	div
		strong
			+fa('{{ itemController.iconFor(item) }}', '{{ item.name }}')
			span(ng-if='item.externalId')
				| &nbsp;
				span(ng-if="item.type == 'show' || item.type == 'movie'")
					+faLinkBlank('external-link', 'http:www.imdb.com/title/{{ item.externalId }}/')
				span(ng-if="item.type != 'show' && item.type != 'movie'")
					+faLinkBlank('external-link', 'http:musicbrainz.org/release-group/{{ item.externalId }}')
	div
		span.state(style='float:right')
			a(href="#", title="{{ item.stateInfo }}", ng-if="item.stateInfo")
				+fa('info-circle')
			| {{ item.state }}
		span(ng-if="item.torrentInfoUrl")
			a(href="{{ item.torrentInfoUrl }}", target="_blank"): +fa('download', 'Info')
			| &nbsp;or&nbsp;
		span(ng-if="item.state == 'wanted'")
			a(href="/changeState?id={{ item.id }}&state=wanted"): +fa('refresh', 'Retry search')
		span(ng-if="item.state == 'snatched'")
			a(href='/changeState?id={{ item.id }}&state=wanted'): +fa('refresh', 'Try other release')
		span(ng-if="item.state == 'subtitled'")
			a(href='/changeState?id={{ item.id }}&state=wanted'): +fa('refresh', 'Try other release')
		span(ng-if="item.state == 'renameFailed'")
			a(href='/changeState?id={{ item.id }}&state=downloaded'): +fa('refresh', 'Retry rename')
			| &nbsp;or&nbsp;
			a(href='/changeState?id={{ item.id }}&state=wanted'): +fa('refresh', 'Try other release')
		span(ng-if="item.state == 'libraryUpdated'")
			a(href='/changeState?id={{ item.id }}&state=wanted'): +fa('refresh', 'Try other release')
		span(ng-if="item.state == 'libraryUpdateFailed'")
			a(href='/changeState?id={{ item.id }}&state=renamed'): +fa('refresh', 'Retry library update')
			| &nbsp;or&nbsp;
			a(href='/changeState?id={{ item.id }}&state=libraryUpdated'): +fa('chevron-right', 'Skip library update')
		span(ng-if="item.state == 'renamed'")
			a(href='/changeState?id={{ item.id }}&state=wanted'): +fa('refresh', 'Try other release')
			| &nbsp;or&nbsp;
			a(href='/changeState?id={{ item.id }}&state=finished'): +fa('check', 'Set finished')
		span(ng-if="item.state == 'subtitlerFailed'")
			a(href='/changeState?id={{ item.id }}&state=libraryUpdated'): +fa('refresh', 'Retry subtitles')
			| &nbsp;or&nbsp;
			a(href='/changeState?id={{ item.id }}&state=wanted'): +fa('refresh', 'Try other release')
			| &nbsp;or&nbsp;
			a(href='/changeState?id={{ item.id }}&state=finished'): +fa('check', 'Set finished')
		span(ng-if="item.state == 'finished'")
			a(href='/changeState?id={{ item.id }}&state=wanted'): +fa('refresh', 'Try other release')
		span(ng-if="item.next")
			| &nbsp;or&nbsp;
			a(ng-if="item.type == 'show'", href='/add?type=show&no={{ item.next }}&externalId={{ item.externalId }}&name={{ encodeURIComponent(item.name) }}'): +fa('plus', 'Add next season')
			a(ng-if="item.type == 'music'", href='/add?type=music&externalId={{ item.next }}&name={{ encodeURIComponent(item.nextName) }}'): +fa('plus', 'Add next album')
		| &nbsp;or&nbsp;
		a(href='/remove?id={{ item.id }}'): +fa('times', 'Remove')
		| &nbsp;or&nbsp;
		a(href='/torrent?id={{ item.id }}'): +fa('list', 'Choose')
	hr(style='margin-top: 5px; margin-bottom: 5px')