mixin item(item)
	div
		strong
			+fa(icons[item.type], item.getDisplayName())					 
	div
		span.state(style='float:right')
			if item.state === 'wanted' && item.stateInfo
				a(href="#", title="#{item.stateInfo}")
					+fa('info-circle')
				| 
			= item.state
		if item.torrentInfoUrl
			a(href=item.torrentInfoUrl, target='_blank'): +fa('download', 'Info')
			| &nbsp;or&nbsp;
		if item.state === 'wanted'
			a(href='/changeState?id=' + item._id + '&state=wanted'): +fa('refresh', 'Retry search')
		if item.state === 'snatched'
			a(href='/changeState?id=' + item._id + '&state=wanted'): +fa('refresh', 'Try other release')
		if item.state === 'subtitled'
			a(href='/changeState?id=' + item._id + '&state=wanted'): +fa('refresh', 'Try other release')
		if item.state === 'renameFailed'
			a(href='/changeState?id=' + item._id + '&state=wanted'): +fa('refresh', 'Try other release')
		if item.state === 'subtitlerFailed' || item.state === 'renamed'
			a(href='/changeState?id=' + item._id + '&state=renamed'): +fa('refresh', 'Retry subtitles')
			| &nbsp;or&nbsp;
			a(href='/changeState?id=' + item._id + '&state=wanted'): +fa('refresh', 'Try other release')
			| &nbsp;or&nbsp;
			a(href='/changeState?id=' + item._id + '&state=finished'): +fa('check', 'Set finished')
		if item.state === 'finished'
			a(href='/changeState?id=' + item._id + '&state=wanted'): +fa('refresh', 'Try other release')					
		| &nbsp;or&nbsp;
		a(href='/remove?id=' + item._id): +fa('times', 'Remove')
		| &nbsp;or&nbsp;
		a(href='/torrent?id=' + item._id): +fa('list', 'Choose')
	hr(style='margin-top: 5px; margin-bottom: 5px')