/node_modules
/npm-debug.log
/users.db
=======
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
/config.json
/config.v2.json
/items.db
/music.db
/show.db
