extends layout

block headScript
	script(src="/javascripts/music.js")

block content
	.row
		.col-sm-3
			img#poster(style='width: 100%;margin-top: 2em')
	
		.col-sm-6
			h1
				+fa('music', item.artist)
		
			hr
			h2 Albums
			#error.alert.alert-info(style='display:none')
			#albums
				
			hr
			h2 Other
			#error2.alert.alert-info(style='display:none')
			#other
		
			hr
			+buttonPrimary('/', 'Back')