extends layout
include includes/item

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('wrench', 'Settings')

		//-if message.length > 0
		//-	.alert.alert-danger= message

		form(action='/config', method='POST')
			+input("text", "xbmcHost", "XBMC Host", config.xbmcHost)
			
			+input("url", "movieSearchUrl", "Movie Search Url", config.movieSearchUrl)
			+input("url", "showSearchUrl", "Show Search Url", config.showSearchUrl)
			+input("url", "musicSearchUrl", "Music Search Url", config.musicSearchUrl)
			
			+input("text", "movieTargetDir", "Movie Target Dir", config.movieTargetDir)
			+input("text", "showTargetDir", "Show Target Dir", config.showTargetDir)
			+input("text", "musicTargetDir", "Music Target Dir", config.musicTargetDir)
			
			+input("number", "movieSizeLimit", "Movie Size Limit (MB)", config.movieSizeLimit)
			+input("number", "showSizeLimit", "Show Size Limit (MB)", config.showSizeLimit)
			+input("number", "musicSizeLimit", "Music Size Limit (MB)", config.musicSizeLimit)
			
			+input("number", "defaultInterval", "Default Interval (s)", config.defaultInterval)
			
			+input("text", "movieRequiredKeywords", "Movie Required Keywords (comma delimited, at least one to be found)", config.movieRequiredKeywords)
						
			+faButtonSubmit('save', 'Save')
			if config.version != 0
				|  
				+buttonPrimary('/', 'Back')
			#bottom &nbsp;