extends layout

block content
	.row
		.col-sm-3
			img#poster(style='width: 100%;margin-top: 2em')
	
		.col-sm-6
			h1
				+fa('ban', 'Error')
	
			p
				strong Sorry, there was an error processing your request.
			p= error
			
			hr
			+buttonPrimary('/', 'Back')