extends layout

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('search', 'What do you want to find')

		//-if message.length > 0
		//-	.alert.alert-danger= message

		form(action='/search', method='GET')
			+input('text', 'what', 'Movie, Show or Music')
			button#search.btn.btn-warning.btn-lg(type='submit') Search

	.col-sm-6.col-sm-offset-3
		h2
		each item in items
			div
				strong
					+fa(icons[item.type], item.name)
				|   |  
				span.state #{item.state}				
				|   |  
				if item.torrentInfoUrl
					a(href=item.torrentInfoUrl, target='_blank') T
					|   |  
				if item.state === 'wanted'
					a(href='/changeState?id=' + item._id + '&state=wanted') Try another release
				if item.state === 'snatched'
					a(href='/changeState?id=' + item._id + '&state=wanted') Try another release
				if item.state === 'subtitled'
					a(href='/changeState?id=' + item._id + '&state=wanted') Try another release
				if item.state === 'renameFailed'
					a(href='/changeState?id=' + item._id + '&state=downloaded') Retry rename
					| &nbsp;or&nbsp;
					a(href='/changeState?id=' + item._id + '&state=wanted') Try another release
				if item.state === 'subtitlerFailed'
					a(href='/changeState?id=' + item._id + '&state=renamed') Retry subtitle search
					| &nbsp;or&nbsp;
					a(href='/changeState?id=' + item._id + '&state=wanted') Try another release
					| &nbsp;or&nbsp;
					a(href='/changeState?id=' + item._id + '&state=finished') Set as finished
				if item.state === 'finished'
					a(href='/changeState?id=' + item._id + '&state=wanted') Try another release					
				| &nbsp;or&nbsp;
				a(href='/remove?id=' + item._id) Remove from list					