extends layout
include includes/item

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('search', 'Lumus')

		small
			| Version #{myVersion}
			if newVersion
				em
					| &nbsp;| new version available #{newVersion}&nbsp;
					//a(href='/update') Update

		form(action='/search', method='GET')
			+inputWithPlaceholder('text', 'what', 'Enter Movie, Show, Artist or Group Name')
			button#search.btn.btn-warning(type='submit')
				+fa('search', 'Search')
			.dropdown#menu(style='float:right')
				a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', type='button', title='Menu')
					+fa('bars')
				ul.dropdown-menu(role='menu', aria-labelledby='menu')
					li(role='presentation')
						+faLink('fire', '/newReleases', 'New Movie Releases (Yifi)')
					li.divider(role='presentation')
					li(role='presentation')
						+faLink('wrench', '/config', 'Settings')

	.col-sm-6.col-sm-offset-3
		if items.hasWaiting()
				h2 Waiting
				each item in items
					if item.isWaiting()
						+item(item)
	
		if items.hasDownloading()
			h2 Downloading
			each item in items
				if item.isDownloading()
					+item(item)
	
		if items.hasWaitingForSubtitles()
			h2 Waiting For Subtitles
			each item in items
				if item.isWaitingForSubtitles()
					+item(item)
	
		if items.hasFailed()
			h2 Failed
			each item in items
				if item.isFailed()
					+item(item)
	
		if items.hasFinished()
			h2 Finished
			each item in items
				if item.isFinished()
					+item(item)
