extends layout
include includes/item

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('search', 'Find movie, show or music')

		//-if message.length > 0
		//-	.alert.alert-danger= message

		form(action='/search', method='GET')
			+inputWithPlaceholder('text', 'what', 'Enter Movie, Show, Artist or Group Name')
			button#search.btn.btn-warning(type='submit')
				+fa('search', 'Search')
			|  
			div(style='float:right')
				+faButtonDefault('wrench', '/config', 'Settings')			

	.col-sm-6.col-sm-offset-3
		h2 Today
		each item in items
			if moment().startOf('day').isBefore(item.createdAt)
				+item(item)
				
		h2 Last 7 days
		each item in items
			if moment().startOf('day').isAfter(item.createdAt) && moment().startOf('day').subtract('days', 7).isBefore(item.createdAt)
				+item(item)
		
		h2 Older
		each item in items
			if moment().startOf('day').subtract('days', 7).isAfter(item.createdAt)
				+item(item)