extends layout

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('search', 'What do you want to find')

		//-if message.length > 0
		//-	.alert.alert-danger= message

		form(action='/search', method='GET')
			+input('text', 'what', 'Movie, Show or Music')
			button#search.btn.btn-warning.btn-lg(type='submit') Search
