extends layout
include includes/item

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('search', 'Lumus')

		form(action='/search', method='GET')
			+inputWithPlaceholder('text', 'what', 'Enter Movie, Show, Artist or Group Name')
			button#search.btn.btn-warning(type='submit')
				+fa('search', 'Search')
			.dropdown#menu(style='float:right')
				a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', type='button', title='Menu')
					+fa('bars')
				ul.dropdown-menu(role='menu', aria-labelledby='menu')
					li(role='presentation')
						+faLink('fire', '/newReleases', 'New Movie Releases (Yifi)')
					li.divider(role='presentation')
					li(role='presentation')
						+faLink('wrench', '/config', 'Settings')

	.col-sm-6.col-sm-offset-3
		h2 Today
		each item in items
			if moment().startOf('day').isBefore(item.createdAt)
				+item(item)
				
		h2 Last 7 days
		each item in items
			if moment().startOf('day').isAfter(item.createdAt) && moment().startOf('day').subtract('days', 7).isBefore(item.createdAt)
				+item(item)
		
		h2 Older
		each item in items
			if moment().startOf('day').subtract('days', 7).isAfter(item.createdAt)
				+item(item)