extends layout
include includes/item

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('search', 'What do you want to find')

		//-if message.length > 0
		//-	.alert.alert-danger= message

		form(action='/search', method='GET')
			+input('text', 'what', 'Movie, Show or Music')
			button#search.btn.btn-warning.btn-lg(type='submit') Search

	.col-sm-6.col-sm-offset-3
		h2 Today
		each item in items
			if moment().startOf('day').isBefore(item.createdAt)
				+item(item)
				
		h2 Last 7 days
		each item in items
			if moment().startOf('day').isAfter(item.createdAt) && moment().startOf('day').subtract('days', 7).isBefore(item.createdAt)
				+item(item)
		
		h2 Older
		each item in items
			if moment().startOf('day').subtract('days', 7).isAfter(item.createdAt)
				+item(item)