doctype html

html
	head
		title= title
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

		// STYLES
		link(rel="stylesheet", href="/styles/importer.css")
		// STYLES END

		block styles

	body
		.container(ng-app="app")
			block body

		//-
			Client-side Templates
			========================

			HTML templates are important prerequisites of modern, rich client applications.
			To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
			that you load these templates client-side.

			By default, your Gruntfile is configured to automatically load and precompile
			client-side JST templates in your `assets/templates` folder, then
			include them here automatically (between TEMPLATES and TEMPLATES END).

			To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
			For example, here are a few things you could do:

					+ Import templates from other directories
					+ Use a different template engine (handlebars, jade, dust, etc.)
					+ Internationalize your client-side templates using a server-side
						stringfile before they're served.

		// TEMPLATES
		
		// TEMPLATES END
		
		// SCRIPTS
		script(src="/js/dependencies/sails.io.js")
		script(src="/bower_components/jquery/dist/jquery.js")
		script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
		script(src="/bower_components/angular/angular.js")
		script(src="/bower_components/angular-route/angular-route.js")
		script(src="/bower_components/angular-filter/dist/angular-filter.js")
		script(src="/bower_components/angular-sails/dist/angular-sails.js")
		script(src="/js/app.js")
		script(src="/js/main/mainController.js")
		script(src="/js/search/app.searchModule.js")
		script(src="/js/search/searchController.js")
		script(src="/js/search/searchService.js")
		script(src="/js/search/seasonSearchController.js")
		script(src="/js/search/theMovieDbService.js")
		// SCRIPTS END
