extends ./layout
include ./includes/widgets

block body
	.row
		.col-sm-6
			h1
				+fa('search', 'Lumus')

			small
				| Version #{myVersion}
				if newVersion
					em
						| &nbsp;| new version available #{newVersion}&nbsp;
						//a(href='/update') Update
	
	.row(ng-view)