extends layout

block headScript
	script(src="/javascripts/yify.js")

block content
	.col-sm-6.col-sm-offset-3
		h1
			+fa('fire', 'New Releases')
	
		hr
		#results
	
		hr
		+buttonPrimary('/', 'Back')