extends layout

block headScript
	script(src="/javascripts/search.js")
	
	script.
		Handlebars.registerHelper('uri', function(value, value2OrOptions, optionsOrNothing) {
			if (value2OrOptions && optionsOrNothing) {
				value = value + ' (' + value2OrOptions + ')';
			}
		
			return new Handlebars.SafeString(encodeURIComponent(value));
		});
	
	script#show-template(type="text/x-handlebars-template")
		p
			+fa('leaf', '{{ Title }} ({{ Year }})')
			| &nbsp;
			a.btn.btn-default.btn-xs(href='/show/add?type=show&name={{uri Title}}&showId={{ imdbID }}')
				span.glyphicon.glyphicon-plus
		

	script#movie-template(type="text/x-handlebars-template")
		p
			+fa('film', '{{ Title }} ({{ Year }})')
			| &nbsp;
			a.btn.btn-default.btn-xs(href='/add?type=movie&name={{uri Title}}&year={{ Year }}')
				span.glyphicon.glyphicon-plus

	script#music-template(type="text/x-handlebars-template")
		p
			+fa('music', '{{ name }}{{#if disambiguation}} ({{ disambiguation }}){{/if}}')
			| &nbsp;
			a.btn.btn-default.btn-xs(href='/artist/add?type=music&name={{uri name disambiguation}}&artistId={{ id }}')
				span.glyphicon.glyphicon-plus

block content
	h1
		+fa('search', 'Search Results')

	#results

	hr
	+buttonHome()