extends layout

block headScript
	script(src="/javascripts/show.js")

block content
	h1
		+fa('leaf', item.name)
	
	img#banner
	
	hr
	#basicInfo
	#overview

	hr
	h2 Seasons
	#seasons
			
	hr
	+buttonPrimary('/', 'Back')