extends layout

block headScript
	// TODO will probably remove unless client-side api is found for shows script(src="/javascripts/show.js")

block content
	.row
		.col-sm-3
			img#poster(style='width: 100%;margin-top: 2em')
	
		.col-sm-6
			h1
				+fa('leaf', item.name)
			
			img#poster.img-responsive(src="http://thetvdb.com/banners/" + info.banner)
	
			#basicInfo.small
				p= info.Network + " • " + info.Runtime + " min" + " • " + "Rating " + info.Rating + " • " + info.Status  
				p= info.Genre.substring(1, info.Genre.length - 1).replace(/\|/g, ' • ')
			
			p#overview.text-justify= info.Overview
				
			h2 Seasons
			
			#seasons
				for season in info.seasons
					p
						+fa('leaf', 'Season ' + season.No + ' (' + season.Year + ')')
						span &nbsp;
						a.btn.btn-default.btn-xs(href="/add?type=show&name=" + encodeURIComponent(item.name) + "&no=" + season.No + "&externalId=" + item.showId, title="Add")
							span.glyphicon.glyphicon-plus