extends layout

block headScript
	script(src="/javascripts/show.js")

block content
	#info
		#qe(style='float:left')
			img#poster(style='width: 200px')

		#xy
			h1
				+fa('leaf', item.name)
	
			#basicInfo
			#overview

	hr
	h2 Seasons
	#seasons
			
	hr
	+buttonPrimary('/', 'Back')