extends layout

block headScript
	script(src="/javascripts/show.js")

block content
	.row
		.col-sm-3
			img#poster(style='width: 100%;margin-top: 2em')
	
		.col-sm-6
			h1
				+fa('leaf', item.name)
	
			#error.alert.alert-info(style='display:none')
						
			#basicInfo
			#overview
		
			hr
			h2 Seasons
			
			#error2.alert.alert-info(style='display:none')
			#seasons
					
			hr
			+buttonPrimary('/', 'Back')