extends ./templateLayout

block content
	.row(ng-if="searchController.movieResults.length")
		h2.col-sm-12
			+fa('film', 'Movies')
			hr
		+cardCols("searchController.movieResults")
			+searchCard('Movie')
			
	.row(ng-if="searchController.showResults.length")
		h2.col-sm-12
			+fa('tv', 'Shows')
			hr
		+cardCols("searchController.showResults")
			+searchCard('Show')
			
	.row(ng-if="searchController.musicResults.length")
		h2.col-sm-12
			+fa('music', 'Music')
			hr
		+cardCols("searchController.musicResults")
			+searchCard('Music')
	
	.row.searching(ng-if="searchController.searching()")
		h2.col-sm-12
			+fa('search', 'Searching...')
			
	.row.no-result(ng-if="searchController.noResults()")
		h2.col-sm-12
			+fa('ban', 'No results.')
