extends ./templateLayout

block content
	.row
		h2.col-sm-12
			+fa('tv', '{{ seasonSearchController.show.name }}')
			hr
		
	.row
		+cardCols("seasonSearchController.results")
			+seasonCard()
			
		.col-sm-12(ng-if="seasonSearchController.searching()")
			h2
				+fa('search', 'Searching...')
				
		.col-sm-12(ng-if="seasonSearchController.noResults()")
			h2
				+fa('ban', 'No results.')