@fa-font-path: '../bower_components/components-font-awesome/fonts/';
@poster-width: 185px;
@poster-height: 272px;
@result-pane-height: 100px;

.left-space {
	margin-left : 0.5em;
}

.searchItem {
	width: @poster-width + 10px;
	height: @poster-height + @result-pane-height;
	margin-bottom: 15px;

	& img {
		width: @poster-width;
		height: @poster-height;
		padding: 0;
		margin: 0;	
	}
}

.row.no-gutters {
	margin-right: 5px;
	margin-left: 5px;

	& > [class^="col-"],
	& > [class*=" col-"] {
		padding-right: 5px;
		padding-left: 5px;
	}
}

.resultInfo {
	width: @poster-width;
	height: @result-pane-height;
	padding: 5px;
	background-color: black;
	color: white;
}

#header {
	line-height: 70px;
}