@fa-font-path: '../bower_components/components-font-awesome/fonts/';
@grid-gutter-width: 10px;

.right-space {
	margin-right : 0.5em;
}

.card {
	margin-bottom: 15px;
	height: 380px;
	& .content {
		background-color: black;
		color: white;
		height: 100%;
	}
	& .info {
		padding: 5px;
	}
}

#header {
	line-height: 80px;
}